<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Система онлайн тестирования</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">На главную <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'question_list' %}">Наборы тестов</a>
      </li>

    </ul>
    {% if not request.user.id %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="text"  name="username" placeholder="Логин" aria-label="Логин">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Пароль" aria-label="Пароль">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Войти</button>
      &nbsp;<a class="btn btn-warning" href="{% url 'register' %}">Зарегистрироваться</a>
    </form>
    {% else %}
    Вы вошли, как&nbsp;<strong>{{request.user.username}}</strong>
    &nbsp;<a href="{% url 'logout' %}" class="btn btn-danger">Выйти</a>
    {% endif %}
  </div>
</nav>