{% extends 'index.html' %}
{% block title %}Вход в систему тестирования{% endblock %}
{% block page_title %}Вход{% endblock %}
{% block content %}


<form class="" action="" method="post">
      {% csrf_token %}
  <div class="form-group">
    <label for="InputLogin">{{form.username.label}}</label>
    <input type="text" name="{{form.username.name}}" class="form-control" id="InputLogin" aria-describedby="emailHelp" placeholder="{{form.username.label}}">
  </div>
  <div class="form-group">
    <label for="InputPassword">{{form.password.label}}</label>
    <input type="password" name="{{form.password.name}}" class="form-control" id="InputPassword" placeholder="{{form.password.label}}">
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>
  <a href="{% url 'register' %}"  class="btn btn-warning">Зарегистрироваться</a>
</form>


{% endblock %}