{% extends 'index.html' %}
{% block title %}Регистрация в системе тестирования{% endblock %}
{% block page_title %}Регистрация{% endblock %}
{% block content %}


<form class="" action="" method="post">
      {% csrf_token %}
  <div class="form-group">
    <label for="InputLogin">{{form.username.label}}</label>
    <input type="text" name="{{form.username.name}}" class="form-control" id="InputLogin" aria-describedby="emailHelp" placeholder="{{form.username.label}}">
    <small  class="form-text text-muted">{{form.username.help_text}}</small>
  </div>
  <div class="form-group">
    <label for="InputPassword1">{{form.password1.label}}</label>
    <input type="password" name="{{form.password1.name}}" class="form-control" id="InputPassword1" placeholder="{{form.password1.label}}">
    <small  class="form-text text-muted">{{form.password1.help_text|safe}}</small>
  </div>
  <div class="form-group">
    <label for="InputPassword2">{{form.password1.label}}</label>
    <input type="password" name="{{form.password2.name}}" class="form-control" id="InputPassword2" placeholder="{{form.password2.label}}">
    <small  class="form-text text-muted">{{form.password2.help_text|safe}}</small>
  </div>

  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>


{% endblock %}