{% extends 'index.html' %}
{% block page_title %}{{page_title}}{% endblock %}
{% block content %}
    {% if not test_id %}
    <div class="list-group">
        {% include 'test/blocks/group_list.html' %}
        {% include 'test/blocks/test_list.html' %}
    </div>
    {% else %}

    <div>В тесте <strong>{{test.questions.count}} вопросов.</strong></div>

    <a href="{% url 'join_to_test' test_id=test.id %}" class="btn btn-primary">Принять участие</a>
    {% endif %}
{% endblock %}