{% extends 'index.html' %}
{% block page_title %}{{page_title}}{% endblock %}
{% block content %}
<div id="Result">
    <table class="table-striped align-content-center" width="100%">
        <tr>
            <th colspan="2">Результаты тестирования</th>
        </tr>
        <tr>
            <td>Правильных ответов</td>
            <td>{{result.true_answers}}</td>
        </tr>
        <tr>
            <td>Не правильных ответов</td>
            <td>{{result.false_answers}}</td>
        </tr>
        <tr>
            <td>Не успел ответить</td>
            <td>{{result.getEmpty}}</td>
        </tr>
        <tr>
            <td>Процент правильных ответов</td>
            <td>{{result.getPercentTrue}} %</td>
        </tr>
    </table>
</div>
{% endblock %}