{% extends 'index.html' %}
{% block page_title %}{{page_title}}{% endblock %}
{% block content %}
<div id="testWaiting" check-url="{% url 'check_test_status' test_id=test.id %}">

    <div>В тесте <strong>{{test.test.questions.count}} вопросов.</strong></div>
    <div><span id="members">{{test.users.count}}</span> участников ожидают начала тестирования</div>
    <a href="{% url 'leave_test' test_id=test.id %}" class="btn btn-primary">Отказаться от тестирования</a>

</div>
{% endblock %}