{% extends 'index.html' %}
{% block page_title %}{{page_title}}{% endblock %}
{% block content %}
<div id="testProcess" check-url="{% url 'check_question' test_id=test.id question_id=test.current_question.id %}">
    <div id="timer" timeout-url="{% url 'timeout_test' test_id=test.id question_id=test.current_question.id %}" question="{{test.current_question.id}}">
        <span id="h">{{test.current_question.answer_time|date:"H"}}</span> :
        <span id="m">{{test.current_question.answer_time|date:"i"}}</span> :
        <span id="s">{{test.current_question.answer_time|date:"s"}}</span></div>
   <form method="post" action="{% url 'answer_test' test_id=test.id question_id=test.current_question.id %}">
       {% csrf_token %}
    <div class="card">
  <div class="card-header">
    {{test.current_question.text}}
  </div>
  <div class="card-body">
    <div class="list-group">
      {% for a in test.current_question.answer_set.all %}
        <div class="list-group-item pl-5">
            <input class="form-check-input" value="{{a.id}}" id="answer{{a.id}}" type="{% if test.current_question.is_all_answers %}checkbox{% else %}radio{% endif %}" name="answer" {% if not test.current_question.is_all_answers %}required{%endif%} />
            <label for="answer{{a.id}}" class="form-check-label">{{a.text}}</label>
        </div>
      {% endfor %}
        <div class="btn  disabled" type="submit">Вы ответили не верно. Дождитесь ответа остальных участников</div>
    </div>
  </div>
</div>
</div>
{% endblock %}