{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"  crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"  crossorigin="anonymous"></script>
    <script src="{% static 'js/plugin.js' %}"  crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>{% block title %}Онлайн система тестирования{% endblock %}</title>
</head>
<body>
    {% include 'blocks/navbar.html' %}
    <div class="container">
        <h2>{% block page_title %}
        {% endblock %}</h2>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>